[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
pytest = "*"
"h5py" = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
